@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

html {
    box-sizing: border-box;
}
*, *::before,::after{
    box-sizing: inherit;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    font-size: 100%;
    margin:0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/*  Daftar Isi */
/*  HTML, CSS, JS ONLY!
    1. Background           : .container
    2. card                 : .card
    3. content              : .content
      3a. image and buttons : .img > btn
      3b. background patern : .bg-pattern
      3c. content text      : .content-text
    4. footer atribution
*/

// 1. Background           : .container
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grayish-blue;
}

// 2. card                 : .card
.card {
    height: 100vh;
    width: 100vw;
    background-color: white;
}
// 3. content              : .content
.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding: 20px;
    // background-color: magenta;
}


.slider1, .slider2 {
    display: none;
}


//   3a. image and buttons : .img > btn
    .img {
    
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 20px auto;
        z-index: 1;
        & > img {
            height: 250px;
            width: 250px;
            align-self: center;
            border-radius: 5px;
            -webkit-box-shadow: 0px 7px 17px 0px rgba(0,0,0,0.23); 
            box-shadow: 0px 7px 17px 0px rgba(0,0,0,0.23);
            z-index: 2;
        }
    }

    .bg-pattern {
        position: absolute;
        top: -29px;
        left: -20px;
        width: 250px;
        height: 250px;
        z-index: 1;

        img {
           height: 300px;
           width:300px;
           align-self: center;
        }
    }

    
    
    // BUTTON icons
    .btn {
        position: absolute;
        bottom: -15px;
        right: 35%;
        display: flex;
        align-self: center;
        width:4.6875em;
        justify-content: space-around;
        padding: .5em 0;
        border-radius:1em;
        text-decoration:none;
        text-align:center;
        background-color: white;
        font-size: 16px;
        -webkit-box-shadow: 0px 7px 17px 0px rgba(0,0,0,0.23); 
        box-shadow: 0px 7px 17px 0px rgba(0,0,0,0.23);
        z-index: 3;
        
        svg {
            fill: rgb(156, 154, 154);
            cursor: pointer;
        }
    }
  
//   3b. content text      : .content-text
    .content-text {
        position: relative;
        // width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        text-align: center;
        margin-top: 20px;
        padding: 12px;
        // svg quote
        .quote {
            z-index: 1;
            & > img {
                width: 50px;
                margin-bottom: 70px;
            }
        }
        .devs {
            display: contents;
        }
        strong {
            margin-top: 20px;
            margin-bottom: 3px;
        }
        span {
            font-size: .9rem;
            color: rgb(194, 194, 194);
            top: 0;
            z-index: 1;
        }
        p {
            color: $dark-blue;
            position: absolute;
            top:35px;
        }
    }

    .bg-large{
        position: absolute;
        bottom: 0;
        left: 0;
    }


// 4. footer atribution

// atribute
// .attribution {
//     font-size: 11px;
//     text-align: center;
//   }

//   .attribution a {
//     color: hsl(228, 45%, 44%);
//   }


// up to 1040



.card {
    @include breakpoint-up(large) {
        display: flex;
        padding: 0 50px;
    }
}
.content {
    @include breakpoint-up(large) {
        width: 100vw;
        display: block;
        margin: 20px 40px;
        position: relative;
    }
}

.img {
    @include breakpoint-up(large){
        position: absolute;
        right: 0;
        top: 0;
        width: 500px;
        height: 500px;
        
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.btn {
    @include breakpoint-up(large) {
        right: 68%;
    }

}
.bg-pattern {
    @include breakpoint-up(large){
        width: 600px;
        height: 600px;
        top: -35px;
        left: -63px;
    }
}

.content-text {
    @include breakpoint-up(large) {
        position: absolute;
        width: 657px;
        font-size: 2rem;
        z-index: 5;
        font-weight: 300;
        padding: 0;
        top: 106px;
        left: 118px;
        text-align: left;

        p {
            position: relative;
            color: $dark-blue;
        }


        .quote {
            position: absolute;
            left: 100px;
            top: -25px;
            margin-bottom: 2em;
            z-index: 1;
            & > img {
                width: unset;
                right: 10px;
            }
        }
        .devs {
            margin-top: 2em;
            display: block;
            font-size: 1.5rem;
        }
    }
}

.hide-mobile {
    @include breakpoint-down(large) {
        display: none;
    }
}
